body {
  font-family: "Poppins", sans-serif;
  background-color: #100E1D;
}

.App {
  display: flex;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
}
